<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @api_v1_diagram.name %>
</p>

<%= link_to 'Edit', edit_api_v1_diagram_path(@api_v1_diagram) %> |
<%= link_to 'Back', api_v1_diagrams_path %>
