= # display_query_sql(@places)
%h2= display_event_results_header(@search.result.size)

%table.table.table-striped
  %thead= display_event_sort_column_headers(@search)
  %tbody= display_event_search_results(@events)
